*{

    margin: 0;
    padding: 0;

}
body{

    font-family: "Open Sans", sans-serif;
    font-size: 20px;;
    color: #efe6ff;
    background-color: rgb(44, 39, 52);

}

.kotlin-logo{

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 50px;
    margin: 50px;
}

.mini-logo{

    margin-left: 15px;
    width: 25px;

}

.kotlin-logo-name{
   
    text-transform: capitalize;
    margin-bottom: 3px;
    font-size: 30px;
}

.menu-sumario{

    margin-left: 50px;
    margin-right: 50px;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;

}

strong{

    font-weight: 600;

}

.println-text{

    color: #35c78a;
}

.comment{
    color: #8f8f8f;
}

.fun{

    color: #b27bf7;
}

.main{
    color: rgb(104, 166, 236);
}